# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# ML Models
saved_model/*.pkl
saved_model/*.h5
saved_model/*.pt

# Data
data/*.csv
data/*.json
!data/.gitkeep

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Environment
.env

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
